{% extends '/layout/base.html' %}

{% block content %}
<div class="container my-3">
    <div class="row justify-content-between my-3">
        <form method="post" class="input-group mb-3">
            <input type="text" class="form-control" name="content" value="" id="input_todo" autofocus />

            <div class="input-group-append">
                <button class="btn btn-primary" id="btn_add">등록</button>
            </div>
        </form>
    </div>

    <!--
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    -->

    <table class="table table-striped">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width: 50px;">번호</th>
                <th>내용</th>
                <th style="width: 100px;">글쓴이</th>
                <th style="width: 200px;">등록일</th>
                <th style="width: 70px;">관리</th>
            </tr>
        </thead>
        <tbody>
            {% if data|length > 0 %}
            {% for item in data %}
            <tr>
                <td class="text-center">{{data|length - loop.index + 1}}</td>
                <td class="text-left">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault-0" {{'checked' if item.status==True}} />
                        <label class="form-check-label" for="flexSwitchCheckDefault-0">{{item.content}}</label>
                    </div>
                </td>
                <td class="text-center">{{item.author}}</td> <!-- 글쓴이 추가 -->
                <td class="text-center">{{item.created.strftime("%Y-%m-%d %H:%M")}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-danger">삭제</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">등록된 할 일이 없습니다</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        <li class="page-item">
            <a class="page-link" href="#">이전</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>

        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">6</a>
        </li>

        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">9</a>
        </li>

        <!-- 다음페이지 -->
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">다음</a>
        </li>
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}
